#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1 p {
  line-height: 1.3;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1 {
  background: url('../../static/designs/images/repository/img_269x217_medical_supplies.png') 250px 19px no-repeat;
  clear: both;
  float: left;
  margin: 0;
  min-height: 241px;
  padding: 0;
  width: 912px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_blk1 {
  margin: 60px 30px 15px 500px;
  text-align: right;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2 ul li {
  color: #053b79;
  font-size: .8em;
  font-weight: bold;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2 {
  background: url('../../static/designs/images/repository/img_223x200_woman_wheel_chair_thumbs_up.jpg') no-repeat center 30px;
  float: left;
  margin: 10px 0 0 16px;
  overflow: hidden;
  padding: 0;
  width: 263px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2_blk1 {
  margin: 260px 30px 15px 30px;
  padding: 0;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3 {
  float: left;
  margin: 10px 0 0 0;
  overflow: hidden;
  width: 419px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3_blk1 {
  margin: 30px 30px 15px 30px;
  padding: 0;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4 ul li {
  font-size: .8em;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4 {
  float: left;
  margin: 10px 16px 0 0;
  overflow: hidden;
  width: 229px;
}
#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1 {
  margin: 30px 30px 15px 30px;
  padding: 0;
}

div#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_custom_blk2_custom {
  width: 980px; float: left; clear: none; overflow: visible; padding-top: 15px; padding-left: 0px; margin-left: 10px;
}
div#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk2 {
  background-image: none; width: 310px; margin-top: 30px; margin-right: 0px; margin-left: 10px;
}
div#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_custom_blk1_custom {
  width: 600px; float: left; clear: none; margin-top: 30px; border-bottom-width: px; border-bottom-color: #EE2929; border-bottom-style: none;
}
div#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_custom {
  width: 1000px; height: auto; float: none; clear: both; overflow: visible;
}
div#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4_blk1_custom {
  width: 320px; height: 30px; float: none; clear: both;
}
div#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk3 {
  width: 320px; margin-top: 30px; margin-left: 10px;
}
div#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4 {
  width: 320px; margin-top: 30px; margin-right: 0px; margin-left: 10px;
}
#sep___31___ {}
div#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk4 p {
width: auto;
padding-bottom: 20px;
}
#sep___50___ {}
div#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_custom_blk1_custom h1 {
color: #8A8989;
font-family: Arial;
font-size: 30px;
font-weight: lighter;
padding-left: 10px;
}
div#rot #rot_ctr1_bod_ctr3_bod_wrp1_blk1_custom_blk2_custom img {
width: auto;
padding-left: 0px;
margin-left: 15px;
border-top-width: 5px;
border-right-width: 5px;
border-bottom-width: 5px;
border-left-width: 5px;
border-top-color: #f3f3f3;
border-right-color: #f3f3f3;
border-bottom-color: #f3f3f3;
border-left-color: #f3f3f3;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
}
